html,body{
    height:100%;
    width:100%;
    
    margin:0;
    padding:0;
    
}
nav{
    display:inline-flex;
    flex-direction:row;
    height:4rem;
    width:100%;
    justify-content:center;
}
ul{
    margin:0;
    padding:0;
}
#signup{
    background-color:#f9d50f;
}
li{ padding-top:1rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:1rem;
    display:inline-flex;
    align-self:center;
}
li:hover{
    background-color:#f9d50f;
}
aside{
    display:flex;
    justify-content:center;
    
    
}

main{
    height:60%;
    width:100%;
    text-align:center;
    background-color: maroon;
    justify-content:center;
    margin-top:.23%;
    padding-top:2rem;
}

/*hr{*/
    /*width:40rem;*/
/*}*/
section{
    display:flex;
    flex-direction:row;
    
    justify-content:center;
    
    padding-top:1rem;
    
}

p{
    color:white;
}
.img{
    padding-left:10rem;
    padding-right:10rem;
    padding-top:2em;
/*    padding-bottom:2em;*/
}

#line{
    height:1px;
    width:600px;
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    display:flex;
    justify-content:center;
    align-self:center;
}
.borders{
    padding-left:10rem;
    padding-right:10rem;
    padding-top:2em;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#davis{
    
    color:white;
    font-size:2em;
    align-self:center;
}


